<%- include('includes/nav.ejs') %>

<div class="row">
    <div class="col-2">
        &nbsp;
    </div>
    <div class="col-8 headingbook">
        <h2>Our Book Categories</h2>
        <p class="headingp">Nacida a finales de 2013, somos una comunidad abierta a todo tipo de personas, ideas y
            proyectos tecnológicos descentralizados, criptográficos, relacionadas con Bitcoin, y especialmente
            Ethereum. Con más de 3000 miembros, somos la comunidad crypto más antigua y grande de España. Solemos
            tratar temas punteros y de máxima actualidad, a veces complejos técnicamente, siempre muy interesantes,
            ideales para adquirir conocimientos avanzados. Tratamos todas las propuestas que giran entorno a
            Ethereum: tokens y (#tokenomics), cripto-economía (#cryptoeconomics),</p>
    </div>
    <div class="col-2">
        &nbsp;
    </div>
</div>
</body>

</html>